// Colors
$primary-color: #1C2225;
$secondary-color: #ECD979;
$background-color: #FCF9F9;
$text-color: #fff;

// Hover colors
$primary-hover-color: #ebdc93;
$secondary-hover-color: #97906b;

// Fonts
$font-primary: 'Ubuntu', sans-serif;
$font-secondary: 'Karla', sans-serif;

// Font sizes
$font-size-base: 16px;
$font-size-heading: 26px;
$font-size-small: 14px;
