@import "./variables.scss";
@import "./_mixins.scss";

.cookie-consent-modal {
  @include center-content;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  p {
    margin: 0;
    font-size: $font-size-small;
  }

  a {
    color: $secondary-color;
    text-decoration: underline;
  }

  button {
    background-color: $secondary-color;
    color: $primary-color;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-family: $font-secondary;
    font-size: $font-size-base;
    margin-left: 0.5rem;
    &:hover {
      background-color: $secondary-hover-color;
    }
  }

  .cookie-decline-btn {
    background-color: $secondary-color;
  }
}
