<footer id="contacts" class="footer">
  <div class="footer-container">
    <div class="footer-contacts">
      <h2 class="footer-contacts-title">Наші контакти</h2>
      <p class="footer-contacts-item">Телефон: <a href="tel:+380503813542">+38 (050) 381 35 42</a></p>
      <p class="footer-contacts-item">
        Email:
        <a href="mailto:information@antyvtoma.com">information@antyvtoma.com</a>
      </p>
      <p class="footer-contacts-item">Адреса: вул. Промислова 5, Вишневе, Київська область 08132</p>
      <div class="footer-contacts-rights">
        <p class="footer-contacts-rights-text">&copy; 2024 Prime Focus Studio. Всі права захищені.</p>
        <a href="/terms.html" target="_blank" class="footer-contacts-rights-links">Угода користувача</a>
        <a href="/privacy.html" target="_blank" class="footer-contacts-rights-links">Політика конфіденційності</a>
      </div>
    </div>

    <div class="footer-form">
      <h2 class="footer-form-title">Зв'язатися з нами</h2>
      <form
        id="contact-form"
        class="footer-form-form"
        action="mailto:tankian84@gmail.com"
        method="post"
        enctype="text/plain"
      >
        <label for="name" class="footer-form-label">Ім'я</label>
        <input type="text" id="name" name="name" class="footer-form-input" required />

        <label for="email" class="footer-form-label">Email</label>
        <input type="email" id="email" name="email" class="footer-form-input" required />

        <label for="tel" class="footer-form-label">Телефон</label>
        <input type="tel" id="tel" name="tel" class="footer-form-input" required />

        <label for="message" class="footer-form-label">Ваше повідомлення</label>
        <textarea id="message" name="message" class="footer-form-textarea" rows="4" required></textarea>

        <button type="submit" class="footer-form-button">Надіслати</button>
      </form>
    </div>
  </div>
  <script type="module" src="/main.js"></script>
</footer>
