<footer id="contacts">
  <div class="footer-container">
    <div class="footer-contacts">
      <h2>Наші контакти</h2>
      <p>Телефон: <a href="tel:+380503813542">+38 (050) 381 35 42</a></p>
      <p>
        Email:
        <a href="mailto:information@antyvtoma.com">information@antyvtoma.com</a>
      </p>
      <p>Адреса: вул. Промислова 5, Вишневе, Київська область 08132</p>
      <div>
        <p>&copy; 2024 Prime Focus Studio. Всі права захищені.</p>
        <a href="/terms.html" target="_blank">Угода користувача</a>
        <a href="/privacy.html" target="_blank">Політика конфіденційності</a>
      </div>
    </div>

    <div class="footer-form">
      <h2>Зв"язатися з нами</h2>
      <form
        id="contact-form"
        action="mailto:tankian84@gmail.com"
        method="post"
        enctype="text/plain"
      >
        <label for="name">Ім'я</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />

        <label for="tel">Телефон</label>
        <input type="tel" id="tel" name="tel" required />

        <label for="message">Ваше повідомлення</label>
        <textarea id="message" name="message" rows="4" required></textarea>

        <button type="submit">Надіслати</button>
      </form>
    </div>
  </div>
  <script type="module" src="/main.js"></script>
</footer>
