<header class="header">
  <div class="container">
    <div class="header__logo">
      <a href="/">
        <p>Prime Focus Studio</p>
      </a>
    </div>
    <div class="header__right">
      <nav class="header__nav">
        <ul>
          <li><a href="/">Головна</a></li>
          <li><a href="/catalog.html">Каталог</a></li>
          <li><a href="/about.html">Про нас</a></li>
          <li><a href="#contacts">Контакти</a></li>
        </ul>
      </nav>
      <div class="header__contacts">
        <a href="mailto:information@antyvtoma.com">information@antyvtoma.com</a>
        <a href="tel:+380503813542">+38 (050) 381 35 42</a>
      </div>
      <div class="header__burger" id="burger-menu">
        <div class="burger-icon"></div>
        <div class="burger-icon"></div>
        <div class="burger-icon"></div>
      </div>
    </div>
    <div class="overlay" id="overlay"></div>
  </div>
</header>